@font-face {
        font-family: Noto-Sans;
        src: url(fonts/NotoSans-regular.ttf);
}

@font-face {
        font-family: Noto-Sans Bold;
        src: url(fonts/NotoSans-bold.ttf);
    }

@font-face {
        font-family: Noto-Sans Italic;
        src: url(fonts/NotoSans-italic.ttf);
}

@font-face {
        font-family: Noto-Sans Bold Italic;
        src: url(fonts/NotoSans-bolditalic.ttf);
        }

@font-face {
        font-family: San Francisco;
        src: url(fonts/SanFrancisco.otf);
        }

@font-face {
        font-family: San Francisco Bold;
        src: url(fonts/SanFrancisco-bold.otf);
        }

* {
	font-family: San Francisco;
}

body {
	background-image: url("images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.nav {
	text-decoration: none;
	font-size: 30px;
	text-align: center;
	color: white;
	margin-left: 5px;
	margin-right: 5px;
}


span {
	color: white;
	font-size: 30px;
	text-align: center;
	text-align: center;
	margin-right: 20px;
	margin-left: 5px;


}

nav {
	background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	position: fixed;
	box-shadow: 10px #888888;
	z-index: 3;
	
}

.em-nail_care {
	width: 500px;
	height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 100px;
    margin-bottom: auto;
}

h1 {
	text-align: center;
	font-family: Noto-Sans Bold;
}

h2 {
	text-align: center;
}

#formLook {
	margin: auto;
	min-width: 200px;
	max-width: 400px;
	background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	color: white;
	text-align: center;
	padding: 10px 10px 30px 10px;
	box-shadow: 10px #888888;
	position: relative;
    top: 50px;
    margin-bottom: 10%;
    font-size: 20px;
   
    
}

.button {
	background-color: white;
	color: grey;
	position: relative;
	left: 60px;

}

#view {
	margin: auto;
	max-width: 400px;
	color: white;
	border: white 3px dashed;
	padding-left: 4%;
	padding-right: 2%;
	font-family: San Francisco Bold;
	font-size: 30px;
	position: relative;
    top: 50px;
}

#title {
	position: relative;
    top: 50px;
	z-index: -30;
	max-width: 400px;
	margin: auto;

}

#loser {
	position: relative;
	left: 30px;
}

input {
	width: 40%;
	padding: 10px 15px;
	font-size: 15px;
	
}