<body ng-controller="formController">
			<h1> Let's spill the Tea on Angular with Jazib </h1>
			<h2> Brought to you by the year of 1992 </h2>


				<h3> Name </h3>
				
				<input type = text ng-model = "name" />

				<h3> Noun </h3>

				<input type = text ng-model = "noun"/>

				<h3> Noun 2 </h3>

				<input type = text ng-model = "noun2"/>

				<h3> Adjective </h3>

				<input type = text ng-model = "adjective"/>

				<h3> Adjective 2</h3>

				<input type = text ng-model = "adjective2"/>

				<h3> Verb</h3>

				<input type = text ng-model = "verb"/>

				<h3> Verb 2</h3>

				<input type = text ng-model = "verb2"/>

				<!--<p> I rooted for you <span>{{name}}</span>! We all rooted for you! How dare you <span>{{adjective}}</span>! I've never yelled at a <span>{{noun}}</span> like this!</p> -->

				<button class="btn btn-success" ng-click="save()">Submit</button>

</body>
